attrs==21.4.0
Brotli==1.0.9
certifi==2022.6.15
cfgv==3.3.1
charset-normalizer==2.1.0
click==8.1.3
dash==2.6.0
dash-bootstrap-components==1.2.0
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-tools==1.7.0
distlib==0.3.5
docopt==0.6.2
filelock==3.7.1
Flask==2.1.3
Flask-Compress==1.12
gunicorn==20.1.0
identify==2.5.1
idna==3.3
importlib-metadata==4.12.0
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
natsort==8.1.0
nodeenv==1.7.0
numpy==1.23.1
packaging==21.0
pandas==1.4.3
pipreqs==0.4.11
platformdirs==2.5.2
plotly==5.9.0
pluggy==0.13.1
pre-commit==2.16.0
py==1.11.0
pyparsing==3.0.9
pytest==6.2.2
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.28.1
six==1.16.0
tenacity==8.0.1
toml==0.10.2
urllib3==1.26.10
virtualenv==20.15.1
Werkzeug==2.1.2
yarg==0.1.9
zipp==3.8.1
